<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

  <!-- Page Header -->
  <app-widget-page-header title="Ztar Books" subtitle="What do you want to read today?"></app-widget-page-header>

  <!-- Main -->
  <div class="flex flex-auto p-6 sm:p-10">

    <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
      <!-- Filters -->
      <div class="flex flex-col sm:flex-row items-center   w-full max-w-xs sm:max-w-none">
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
          <mat-select [value]="'all'" (selectionChange)="filterByCategory($event)">
            <mat-option [value]="'all'">All</mat-option>
            <ng-container *ngFor="let category of categories; trackBy: trackByFn">
              <mat-option [value]="category?.name">{{category?.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Books -->
      <ng-container *ngIf="this.filteredBooks?.length; else noBooks">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
          <ng-container *ngFor="let book of filteredBooks; trackBy: trackByFn">

            <mat-card class="flex flex-col shadow h-36">
              <mat-card-header>

                <mat-card-title>
                  <a [routerLink]="[book?.id]">{{book?.name}}</a>
                </mat-card-title>

                <mat-card-subtitle>{{book?.category}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

          </ng-container>
        </div>
      </ng-container>
      <!-- No Books -->
      <ng-template #noBooks [ngIf]="requestCompleted">
        <div class="flex flex-auto bt-2 flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
          <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No books found!</div>
        </div>
      </ng-template>
    </div>

  </div>

</div>
